@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

sup{
    top: -.5em;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.zoomIn{
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

.btn-icon{
	position: relative;
	&__el{
		width: 23.1%;
		height: 23.1%;
		// background: #000000;
		// background: red;
		// border-radius: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: .2s;
		&:nth-child(1){}
		&:nth-child(2){
			left: 41%;
		}
		&:nth-child(3){
			left: 80%;
		}
		&:nth-child(4){
			left: 0;
			top: 38%;
		}
		&:nth-child(5){
			top: 38%;
			left: 41%;
		}
		&:nth-child(6){
			left: 80%;
			top: 38%;
		}
		&:nth-child(7){
			left: 0;
			top: 78%;
		}
		&:nth-child(8){
			left: 41%;
			top: 78%;
		}
		&:nth-child(9){
			left: 80%;
			top: 78%;
		}
	}
}

.btn-menu{
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-size: 1.466666666666667rem;
	letter-spacing: 0.01em;
	cursor: pointer;
	user-select: none;
	&__icon{
		flex: none;
		margin-left: 2.333333333333333rem;
		width: 2.666666666666667rem;
		height: 2.666666666666667rem;
		// background: url('../img/btn.svg') no-repeat center / contain;
	}
	&.active{
		.btn-menu__icon{
			// background-image: url('../img/close.svg');
		}
		.btn-icon{
			&__el{
				&:nth-child(1){

				}
				&:nth-child(2){
				    left: 19%;
    				top: 19%;
				}
				&:nth-child(3){
				    left: 40%;
    				top: 38%;
				}
				// 8
				// 7
				&:nth-child(4){
					left: 59%;
    				top: 59%;
				}
				&:nth-child(5){
					left: 78%;
    				top: 78%;
				}
				&:nth-child(6){
					top: 78%;
					left: 0;
				}
				&:nth-child(7){
				    top: 59%;
    				left: 21%;
				}
				&:nth-child(8){
				    top: 19%;
    				left: 60%;
				}
				&:nth-child(9){
					top: 0;
    				left: 78%;
				}
			}
		}
	}
}

.menu-dropdown-links{
	&__el:first-child{
		.menu-dropdown-links__link{
			// padding-top: 0;
		}
	}
	&__el:last-child{
		.menu-dropdown-links__link{
			border-bottom: 0;
		}
	}
	&__el{
		// margin-bottom: 3px;
	}
	&__link{
		color: #000000;
		font-family: 'Gotham';
		font-weight: 500;
		font-size: 1.466666666666667rem;
		letter-spacing: 0.01em;
		display: inline-block;
		padding: 1.466666666666667rem 1.4rem;
		border-bottom: 1px solid #C6C6C6;
		display: block;
		transition: .2s;
		&:hover{
			background: #000000;
			color: #FFFFFF;
		}
	}
}

.title{
	color: #000000;
	letter-spacing: 0.01rem;
	&_main{
		font-weight: 900;
		font-size: 3.666666666666667rem;
	}
	&_sec{
		font-size: 2.133333333333333rem;
		font-weight: bold;
	}
}

.text-sec{
	color: #000000;
	font-size: 1.866666666666667rem;
}

.text-med{
	letter-spacing: 0.01em;
	color: #000000;
	font-size: 22px;
}

.text-info{
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 0.01em;
	color: #000000;
	line-height: 1.4;
}

@keyframes btnAnim{
	0% {
        background-position: 0 9%
    }

    50% {
        background-position: 100% 92%
    }

    to {
        background-position: 0 9%
    }
}

.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	font-size: 0.8666666666666667rem;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	user-select: none;
	transition: .2s;
	top: 0;
	&__text{
		border-radius: 1px;
		background: #1B1B1B;
		position: relative;
		z-index: 2;
		padding: 1.133333333333333rem 3.866666666666667rem;
	}
	&_small{
		font-size: 0.8666666666666667rem;
		.btn__text{
			padding: 1.133333333333333rem 2.4rem;
		}
	}
	&::after{
		content: '';
		pointer-events: none;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		filter: blur(0.5rem);
		z-index: -1;
	    background-image: linear-gradient(90deg,#ff55e1,red,#ffb400);
	    width: calc(100% - 2.5rem);
	    height: 2.534rem;
	    -webkit-filter: blur(0.5rem);
	    filter: blur(0.5rem);
	    -webkit-backdrop-filter: blur(0.5rem);
	    backdrop-filter: blur(0.5rem);
	    bottom: -0.7rem;
	    background-size: 600% 600%;
	    animation: btnAnim 6s ease infinite;
	    transition: .2s;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 128%;
		z-index: 10;
	}
	&:hover{
	    transform: translateY(-0.3rem);
	    &::after{
	        background: linear-gradient(0deg, #FF41E7 -0.31%, #FF32B1 9.8%, #FF1D66 23.96%, #FF0D2F 36.1%, #FF040D 45.2%, #FF0000 50.26%, #FF0A00 56.33%, #FF2500 65.43%, #FF5000 78.58%, #FF8C00 92.75%, #FFB000 100.84%);
	    }
	}
}

.btn-border{
	font-family: 'Gotham';
	color: #1B1B1B;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8666666666666667rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #C6C6C6;
	border-radius: 1px;
	padding: 1.066666666666667rem 2.533333333333333rem;
	transition: .2s;
	&:hover{
		background: #F4F4F4;
	}
}

@-webkit-keyframes diamondShape {
    0% {
        background-position: 0 9%
    }

    50% {
        background-position: 100% 92%
    }

    to {
        background-position: 0 9%
    }
}

@keyframes diamondShape {
    0% {
        background-position: 0 9%
    }

    50% {
        background-position: 100% 92%
    }

    to {
        background-position: 0 9%
    }
}

.diamond-dec{
	position: relative;
	flex: none;
	font-size: 0;
	opacity: 0;
	transition: .2s;
	&__mask{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&::before{
		content: '';
		position: absolute;
		z-index: 1;
	    top: 2px;
	    right: 2px;
	    bottom: 2px;
	    left: 2px;
	    background: linear-gradient(90deg, #FF41E7 -0.31%, #FF32B1 9.8%, #FF1D66 23.96%, #FF0D2F 36.1%, #FF040D 45.2%, #FF0000 50.26%, #FF0A00 56.33%, #FF2500 65.43%, #FF5000 78.58%, #FF8C00 92.75%, #FFB000 100.84%);
        background-size: 600% 600%;
        animation: diamondShape 6s ease infinite;
        background-position: 0 9%;
	}
	&_dark{
		&::after{
			background-image: url('../img/dec/mask_dark.png');
		}
	}
}

.diamond-dec-2{
	position: relative;
	flex: none;
	font-size: 0;
	opacity: 0;
	transition: .2s;
	&__mask{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&::before{
		content: '';
		position: absolute;
		z-index: 1;
	    top: 2px;
	    right: 2px;
	    bottom: 2px;
	    left: 2px;
	    background: linear-gradient(90deg, #FF41E7 -0.31%, #FF32B1 9.8%, #FF1D66 23.96%, #FF0D2F 36.1%, #FF040D 45.2%, #FF0000 50.26%, #FF0A00 56.33%, #FF2500 65.43%, #FF5000 78.58%, #FF8C00 92.75%, #FFB000 100.84%);
        background-size: 600% 600%;
        animation: diamondShape 6s ease infinite;
        background-position: 0 9%;
	}
}

.info-el{
	&__title{
		cursor: pointer;
		color: #000000;
		font-size: 1.466666666666667rem;
		font-weight: normal;
		letter-spacing: 0.01em;
		&:hover{
			font-weight: 500;
		}
	}
	&.is-active{
		.info-el__title{
			font-weight: 500;
		}
	}
	&__body{
		margin: 1.733333333333333rem 0;
		position: relative;
		display: none;
	}
	&__text{
		padding: 0 1.8rem;
	}
	&__timer{
		position: absolute;
		height: 100%;
		left: 2px;
		background: #C6C6C6;
		width: 1px;
		span{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background: #1B1B1B;
			border-radius: 1px;
			width: 3px;
			height: 25%;
			display: block;
		}
	}
}

.block-info{
	&__el{
		margin-bottom: 1.733333333333333rem;
	}
}

.info-slides{
	display: flex;
	align-items: center;
	&__text{
		font-family: 'Gotham';
		color: #000000;
		letter-spacing: 0.01em;
		font-size: 1.466666666666667rem;
		white-space: nowrap;
		margin-left: 4.4rem;
		&-count{
			display: inline-block;
			min-width: 0.6993333333333333rem;
		}
	}
	&__arrows{
		display: flex;
		align-items: center;
		svg{
			cursor: pointer;
			user-select: none;
			width: 2.666666666666667rem;
			height: 2.666666666666667rem;
			path, circle{
				transition: .2s;
			}
			circle{
				fill: transparent;
			}
			&:hover{
				path{
					stroke: #FFFFFF;
				}
				circle{
					fill: #1B1B1B;
				}
			}
		}
		&-prev{
			margin-right: 2.2rem;
		}
	}
}

.review-block{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	&__left{
		max-width: 24rem;
		width: 100%;
	}
	&__center{
		margin-top: 2.666666666666667rem;
		position: relative;
	}
	&__line{
		position: absolute;
	    top: -3.066666666666667rem;
    	left: -4rem;
		z-index: 1;
		pointer-events: none;
		max-width: none;
		width: 48rem;
		user-select: none;
	}
	&__dec{
		position: absolute;
		max-width: none;
		z-index: 1;
		top: -0.9333333333333333rem;
	    left: -1.933333333333333rem;
	    width: 44rem;
	    pointer-events: none;
	    user-select: none;
	}
	&__img{
		position: relative;
		z-index: 10;
		width: 40.06666666666667rem;
		user-select: none;
	}
	&__right{
		max-width: 24rem;
		width: 100%;
		&-title{
			margin-bottom: 2.733333333333333rem;
		}
	}
	&__body{
		&-mob{
			display: none;
		}
	}
	&__title{
		margin-bottom: 10.4rem;
	}
	&__info{
		margin-bottom: 3.333333333333333rem;
	}
	&__text{
		margin-bottom: 1.733333333333333rem;
	}
	&__man{
		display: flex;
		align-items: center;
		margin-bottom: 5.066666666666667rem;
		&-img{
			width: 10rem;
			height: 10rem;
			flex: none;
			object-fit: contain;
			margin-right: 2rem;
		}
		&-text{
			font-family: 'Gotham';
			color: #000000;
			letter-spacing: 0.01em;
			font-size: 1.466666666666667rem;
		}
	}
}

.video-block{
	position: relative;
	height: 0;
	padding-bottom: 56.6%;
	width: 100%;
	font-size: 0;
	display: block;
	&__dec{
		position: absolute;
		width: 22.93333333333333rem;
		height: 3.466666666666667rem;
	    background-image: linear-gradient(90deg, #ff55e1, red, #ffb400);
	    -webkit-filter: blur(1.5rem);
    	filter: blur(1.5rem);
    	-webkit-backdrop-filter: blur(1.5rem);
    	backdrop-filter: blur(1.5rem);
		border-radius: 19.33333333333333rem;
		bottom: -1.733333333333333rem;
		left: 50%;
		transform: translateX(-50%);
	}
	&__preview{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 10;
	}
	&__play{
		width: 4.333333333333333rem;
		height: 6.8rem;
		background: url('../img/play.svg') no-repeat center / contain;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 20;
		cursor: pointer;
	}
}

.block-videoreview{
	display: flex;
	justify-content: space-between;
	&__dec{
		position: absolute;
		top: -5.266666666666667rem;
    	left: -0.3333333333333333rem;
		max-width: 24rem;
		width: 24rem;
		z-index: -1;
		pointer-events: none;
	}
	&__left{
		max-width: 40.66666666666667rem;
		width: 100%;
		position: relative;
	}
	&__right{
		max-width: 48rem;
		width: 100%;
		padding-top: 0.8666666666666667rem;
		position: relative;
		&-dec{
			position: absolute;
			top: 0;
			left: -21.93333333333333rem;
			width: 43.33333333333333rem;
			height: 43.33333333333333rem;
			z-index: -1;
		}
	}
	&__title{
		max-width: 24rem;
		margin-bottom: 6.266666666666667rem;
	}
	&__mans{
		display: flex;
		margin-bottom: 4.266666666666667rem;
	}
	&__man{
		display: flex;
		align-items: center;
		margin-right: 1.333333333333333rem;
		&-img{
			width: 5rem;
			height: 5rem;
			object-fit: cover;
			border-radius: 100%;
			margin-right: 1.866666666666667rem;
		}
		&-text{
			font-family: 'Gotham';
			color: #000000;
			letter-spacing: 0.01em;
			font-size: 1.466666666666667rem;
			max-width: 8.266666666666667rem;
		}
	}
	&__info{
		margin-bottom: 4rem;
	}
}

.btn-plus{
	position: relative;
	width: 2.666666666666667rem;
	height: 2.666666666666667rem;
	border-radius: 100%;
	border: 1px solid #1B1B1B;
	transition: .2s;
	&__el{
		display: block;
		height: 0.0666666666666667rem;
		width: 1.152666666666667rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		background: #1B1B1B;
		transition: .2s;
		&:last-child{
			height: 1.152666666666667rem;
			width: 0.0666666666666667rem;
		}
	}
	&:hover{
		background: #1B1B1B;
		.btn-plus__el{
			background: #FFFFFF;
		}
	}
}

.whiteText{
	color: #FFFFFF !important;
}

.specifications-el{
	border-bottom: 1px solid #C6C6C6;
	display: block;
	&__top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 1.733333333333333rem;
		cursor: pointer;
		&:hover{
			.specifications-el__title{
				font-weight: 500;
			}
		}
	}
	&__title{
		font-family: 'Gotham';
		font-size: 1.466666666666667rem;
		letter-spacing: 0.01em;
		color: #000000;
		// transition: .2s;
	}
	&__text{
		margin-bottom: 1.266666666666667rem;
	}
	&__body{
		display: none;
	}
	&.active{
		.btn-plus{
			background: #1B1B1B;
			.btn-plus__el{
				background: #FFFFFF;
			}
		}
		.btn-plus__el:last-child{
			transform: translateY(-50%) translateX(-50%) rotate(-90deg);
		}
		.specifications-el__title{
			font-weight: 500;
		}
	}
}

.block-specifications{
	&__el{
		margin-bottom: 1.8rem;
	}
}

.command-notebook{
	overflow: hidden;
	font-size: 0;
	&__main{
		width: 100%;
	}
	&__slide, &::after{
		position: absolute;
		top: 1.866666666666667rem;
		left: 50%;
		transform: translateX(-50%);
		width: 58%;
		height: 44%;
	}
	&::after{
		content: '';
		position: absolute;
		box-shadow: 0px 4.8rem 2rem 3.333333333333333rem rgba(0, 0, 0, 0.5);
		filter: blur(1.333333333333333rem);
		display: block;
		z-index: 1;
		height: 30%;
	}
	&__slide{
		z-index: 10;
		object-fit: contain;
	}
}

.info-dec{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(90deg, #FF55E1 -0.72%, #FF0000 50.28%, #FBB216 99.28%);
	color: #FFFFFF;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8666666666666667rem;
	height: 2.8rem;
	padding: 0.6666666666666667rem 3.066666666666667rem;
	position: relative;
	&__dec{
		position: absolute;
        background: #202020;
		width: 2.333333333333333rem;
		height: 2.333333333333333rem;
		display: block;
		transform: rotate(45deg);
		&:nth-child(1){
	        top: -1.266666666666667rem;
    		left: -1.133333333333333rem;
		}
		&:nth-child(2){
		    bottom: -1.2rem;
    		left: -1.066666666666667rem;
		}
		&:nth-child(3){
	        top: -1.266666666666667rem;
    		right: -1.133333333333333rem;
		}
		&:nth-child(4){
		    bottom: -1.2rem;
    		right: -1.066666666666667rem;
		}
	}
}

.block-buy{
	display: flex;
	justify-content: center;
	align-items: center;
	&__el{
		display: block;
		font-size: 0;
		margin-right: 5.266666666666667rem;
		transition: .2s;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			transform: scale(1.1);
		}
	}
}

.social-el{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 3.333333333333333rem;
	height: 3.333333333333333rem;
	position: relative;
	font-size: 0;
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 3.333333333333333rem;
		height: 3.333333333333333rem;
		transform: rotate(45deg);
		border: 1px solid #FFFFFF;
	}
	&__icon{
		flex: none;
		position: relative;
		z-index: 1;
		width: 1.666666666666667rem;
		object-fit: scale-down;
	}
}

.block-socials{
	display: inline-flex;
	align-items: center;
	&__el{
		margin-right: 4.2rem;
		&:last-child{
			margin-right: 0;
		}
	}
}

@keyframes animOne{
	0%{
	    width: 12.23%;
	}
	50%{
		width: 20%;
	}
	100%{
		width: 12.23%;
	}
}
@keyframes animTwo{
	0%{
	    height: 14.585%;
	}
	50%{
	    height: 25%;
	}
	100%{
	    height: 14.585%;
	}
}
@keyframes rotate{
	0%{
	    transform: rotate(0deg);
	}
	50%{
	}
	100%{
	    transform: rotate(360deg);
	    // transform: rotate(0deg);
	}
}

.note-anim{
	position: relative;
	&__main{
		width: 100%;
	}
	&__one{
		position: absolute;
		top: 27%;
    	right: 90%;
		width: 12.23%;
		height: 20.5%;
		animation: animOne 2s reverse infinite;
	}
	&__two{
		position: absolute;
		bottom: 89%;
		left: 66%;
		width: 24.656%;
		height: 14.585%;
		animation: animTwo 2s reverse infinite;
	}
	&__tree{
		position: absolute;
		bottom: 91%;
		left: 7%;
		width: 22.8%;
		animation: animTwo 2s reverse infinite;
	}
	&__four{
		position: absolute;
		top: 17%;
		left: 5%;
		width: 27%;
		animation: rotate 2s linear reverse infinite;
	}
	&__five{
		position: absolute;
		top: 16%;
		left: 64%;
		width: 27%;
		animation: rotate 2s linear reverse infinite;
	}
}


.center{
	text-align: center;
}

.article-block{
	h4{
		margin-bottom: 47px;
	}
	ul{
		margin-bottom: 52px;
	}
	ul{
		margin-left: 36px;
		li{
			list-style-type: initial;
			margin-bottom: 0.5333333333333333rem;
		}
	}
	a{
		font-family: 'Gotham';
		color: #1184EF;
		font-weight: 300;
		&:hover{
			text-decoration: underline;
		}
	}
	p{
		margin-bottom: 29px;
	}
	img{
		display: inline-block;
		margin-bottom: 79px;
	}
}

.table-frol{
	width: 100%;
	background: #FFFFFF;
	&__title{
		color: #000000;
		letter-spacing: 0.01em;
		font-size: 1.2rem;
		&_bold{
			font-weight: 500;
		}
	}
	&__tr{
		.table-frol__cell:first-child{
			background: #F4F4F4;
		}
		&_main{
			background: #1B1B1B;
			.table-frol__title{
				text-align: center;
				color: #FFFFFF;
			}
			.table-frol__cell{
				background: transparent !important;
				border: 0;
				&-body{
					border: 1px solid #1B1B1B;
					justify-content: center;
				}
				&:first-child{
					.table-frol__cell-body{
						justify-content: flex-start;
					}
				}
			}
		}
		&_one{
			.table-frol__cell{
				&-body{
					padding-right: 139px;
					justify-content: center;
				}
			}
		}
	}
	&__cell{
		vertical-align: middle;
		padding: 0;
		border: 1px solid #D4D4D4;
		&_bg{
			background: #F4F4F4;
		}
		&-body{
			// min-width: 350.5333333333333333rem;
			min-height: 5.533333rem;
			display: flex;
			align-items: center;
			padding: 17.5px 20px;
		}
		&:first-child{
			max-width: 300.5333333333333333rem;
			.table-frol__cell-body{
			}
		}
	}
	&__text{
		font-weight: 300;
		font-size: 1rem;
		letter-spacing: 0.01em;
		color: #000000;
		line-height: 1.3;
	}
	&_center{
		.table-frol__tr{
			.table-frol__cell-body{
				justify-content: center;
			}
			.table-frol__cell{
				&:first-child{
					.table-frol__cell-body{
						justify-content: flex-start;
					}
				}
			}
		}
	}
}

.userBlock{
	display: inline-flex;
	align-items: center;
	&__img{
		display: block;
		width: 75px;
		height: 75px;
		object-fit: contain;
		border-radius: 100%;
		margin-right: 20.5333333333333333rem;
		flex: none;
	}
	&__text{
		font-family: 'Gotham';
		color: #000000;
		letter-spacing: 0.01em;
		font-size: 22px;
	}
}