html{
	// font-size: .78vw;
	font-size: 15px;
	// overflow-x: hidden;
}

body{
	font-family: 'Gotham';
	color: #000000;
	line-height: 1.25;
	background: #FFFFFF;
	overflow-x: hidden;
}

.noscroll{
	overflow: hidden;
}

.wrapper{
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a{
	font-family: 'Gotham';
}

.container{
	position: relative;
	max-width: 98rem;
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}


.header{
	height: 15.6rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	overflow: hidden;
	&__wrap{
		padding: 4.466666666666667rem 0;
	}
	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo{
		max-width: 16.93333333333333rem;
	}
}

.menu-dropdown{
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 90;
	transition: .4s;
	overflow-y: auto;
	&.active{
		top: 0;
	}
	&__body{
		min-height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		padding-bottom: 80px;
	}
	&__links{
		margin-top: -1.466666666666667rem;
		max-width: 48.13333333333333rem;
		width: 100%;
	}
}

.topPaddingHeader{
	padding-top: 15.6rem;
}

.sec-first{
	position: relative;
	&__container{
		position: relative;
	}
	&__dec{
		position: absolute;
		pointer-events: none;
		z-index: 5;
		user-select: none;
	}
	&__notebook{
	    top: 7.5rem;
    	left: -5.5rem;
    	max-width: 55.66666666666667rem;
	}
	&__core{
	    top: 18.6rem;
    	left: 49rem;
    	max-width: 4.333333333333333rem;
	}
	&__notebook2{
	    top: -23rem;
    	right: -1.01rem;
    	max-width: 54.93333333333333rem;
	}
	&__diamond{
		width: 66.66666666666667rem;
		height: 66.66666666666667rem;
		z-index: 1;
	    top: -75.5rem;
    	left: -1.3rem;
	}
	&__rhombus{
		z-index: 2;
	    left: -1.4rem;
    	top: -2rem;
    	max-width: 45.06666666666667rem;
	}
	&__rhombus2{
	    right: 39rem;
    	top: -15.5rem;
		z-index: 2;
		max-width: 53.4rem;
	}
	&__rhombus3{
		z-index: 1;
	    right: -2.7rem;
    	top: 13rem;
    	max-width: 25.8rem;
	}
	&__wrap{
		position: relative;
		z-index: 10;
		padding: 25.93333333333333rem 0;
		padding-bottom: 5rem;
	}
	&__content{
		margin-left: auto;
		max-width: 48rem;
	}
	&__title{
		margin-bottom: 1.133333333333333rem;
	}
	&__text{
		max-width: 32.66666666666667rem;
		margin-bottom: 3.133333333333333rem;
	}
}

.sec-design{
	min-height: 42.4rem;
	&__video{
		position: absolute;
		z-index: 1;
		top: -2.733333333333333rem;
		left: -14.06666666666667rem;
		width: 78.06666666666667rem;
		pointer-events: none;
	}
	&__dec{
		position: absolute;
		pointer-events: none;
		z-index: 5;
		user-select: none;
	}
	&__rhombus{
		z-index: 1;
	    top: -5.5rem;
    	right: -25.6rem;
    	max-width: 44.4rem;
	}
	&__wrap{
		padding: 3.933333333333333rem 0;
		padding-bottom: 1rem;
	}
	&__content{
		display: flex;
		align-items: flex-start;
		padding: 0 4rem;
		position: relative;
		z-index: 10;
		max-width: 52rem;
		margin-left: auto;
	}
	&__image{
		flex: none;
		margin-top: 1.8rem;
		margin-right: 4.2rem;
	}
	&__title{
		margin-bottom: 2.2rem;
	}
	&__body{
		max-width: 35.53333333333333rem;
		width: 100%;
	}
	&__text{
		margin-bottom: 2.666666666666667rem;
	}
}

.sec-review{
	background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(114.92deg, #FFFFFF 0%, rgba(244, 244, 244, 0) 65.86%);
	min-height: 50.66666666666667rem;
	position: relative;
	&__diamond{
		position: absolute;
	    right: -24.06666666666667rem;
    	top: 4.066666666666667rem;
		width: 48.46666666666667rem;
		height: 48.46666666666667rem;
		flex: none;
		z-index: 1;
		mix-blend-mode: darken;
		pointer-events: none;
	}
	&__wrap{
		padding: 4.266666666666667rem 0;
		position: relative;
		z-index: 10;
	}
}

.sec-videoreview{
	&__wrap{
		padding: 11.13333333333333rem 0;
		padding-bottom: 9.933333333333333rem;
	}
}

.sec-specifications{
	background: #F4F4F4;
	&__wrap{
		padding: 4.866666666666667rem 0;
		padding-bottom: 6.266666666666667rem;
	}
	&__content{
		display: flex;
		.block-specifications__el{
			&:nth-child(n + 7){
				display: none;
			}
		}
	}
	&.hideElements{
		.block-specifications__el{
			&:nth-child(n + 7){
				display: none;
			}
		}
	}
	&__left{
		padding-top: 0.4rem;
		flex: none;
		max-width: 19.13333333333333rem;
		width: 100%;
		margin-right: 4.933333333333333rem;
	}
	&__right{
		width: 100%;
	}
	&__btn{
	    margin-left: 15.66666666666667rem;
	    margin-top: 1.533333333333333rem;
	}
}

.sec-command{
	&__wrap{
		padding: 12.13333333333333rem 0;
		padding-bottom: 2.666666666666667rem;
	}
	&__notebook{
		position: absolute;
	    top: -3.8rem;
    	right: -9.066666666666667rem;
		max-width: 66.13333333333333rem;
		pointer-events: none;
		z-index: 1;
	}
	&__content{
		position: relative;
		padding: 4.866666666666667rem 0;
		&-body{
			max-width: 36rem;
			width: 100%;
			position: static;
			z-index: 10;
		}
	}
	&__dec{
		position: absolute;
		top: -8.8rem;
		left: 1.066666666666667rem;
		width: 24rem;
		z-index: -1;
		pointer-events: none;
		transform: rotate(-3deg);
	}
	&__bg{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 30.66666666666667rem;
		width: 94vw;
		z-index: -1;
		background: #202020;
		pointer-events: none;
	}
	&__title{
		margin-bottom: 3.866666666666667rem;
	}
	&__text{
		margin-bottom: 10rem;
	}
	&__slides{
		background-color: #fff;
		min-height: 300px;
		&-top{
			display: flex;
			align-items: flex-start;
			margin-bottom: 2.666666666666667rem;
		}
		&-title{
			color: #000000;
			letter-spacing: 0.01em;
			font-size: 1.466666666666667rem;
			margin-right: 7.133333333333333rem;
			min-width: 12.2rem;
			max-width: 12.2rem;
		}
		.info-slides{
			padding-top: 0.5333333333333333rem;
		}
		.info-slides__text{
			margin-left: 2.666666666666667rem;
		}
		&-text{
			max-width: 24rem;
		}
	}
}

.sec-technology{
	position: relative;
	&__diamond{
		position: absolute;
	    top: 1.666666666666667rem;
    	right: -19.33333333333333rem;
		pointer-events: none;
		z-index: -1;
		width: 38.66666666666667rem;
		height: 38.66666666666667rem;
	}
	&__wrap{
		padding: 2.133333333333333rem 0;
		padding-bottom: 11.13333333333333rem;
	}
	&__content{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__left{
		flex: none;
		width: 67.6rem;
	}
	&__right{
		max-width: 24rem;
		margin-top: 3.8rem;
	}
	&__title{
		margin-bottom: 5.133333333333333rem;
		&-mob{
			display: none;
		}
	}
}

.sec-infovideo{
	min-height: 42rem;
	position: relative;
	&__video{
		position: absolute;
		top: 0;
		right: 3%;
		z-index: 1;
		height: 100%;
		overflow: hidden;
		&-tag{
			height: 100%;
		}
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(90deg, #202020 -0.1%, rgba(32, 32, 32, 0) 50%);
		}
	}
	&__bg{
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 94%;
		height: 100%;
		background: #202020;
		z-index: -1;
		user-select: none;
	}
	.container{
		position: relative;
		z-index: 10;
	}
	&__rtx{
		position: absolute;
	    top: 18.53333333333333rem;
    	left: 39.13333333333333rem;
		pointer-events: none;
		z-index: 1;
		width: 9.866666666666667rem;
		user-select: none;
	}
	&__notebook{
		position: absolute;
	    top: -3.2rem;
    	right: -4.533333333333333rem;
		z-index: 1;
		width: 62.13333333333333rem;
		user-select: none;
	}
	&__wrap{
		padding: 5.333333333333333rem 0;
		padding-bottom: 5.666666666666667rem;
		position: relative;
		z-index: 5;
	}
	&__content{
		position: relative;
		max-width: 36rem;
		width: 100%;
	}
	&__line{
		position: absolute;
		top: -9.133333333333333rem;
		left: 0.9333333333333333rem;
		width: 24rem;
		z-index: 1;
		transform: rotate(-3deg);
		pointer-events: none;
		user-select: none;
	}
	&__title{
		margin-bottom: 3.666666666666667rem;
		position: relative;
		z-index: 2;
	}
	&__info{
		color: #FFFFFF;
		font-size: 1.866666666666667rem;
		margin-bottom: 2.333333333333333rem;
		position: relative;
		z-index: 2;
	}
	&__text{
		margin-bottom: 4.733333333333333rem;
	}
}

.sec-buy{
	&__top{
		text-align: center;
	}
	&__wrap{
		padding: 25.333333333333333rem 0;
		padding-bottom: 16.66666666666667rem;
	}
	&__info{
		margin-top: 0.3333333333333333rem;
		color: #000000;
		letter-spacing: 0.01em;
		font-weight: bold;
		font-size: 2.133333333333333rem;
	}
	&__content{
		position: relative;
		margin-top: 3.6rem;
	}
	&__dec{
		position: absolute;
		top: 11.13333333333333rem;
		left: 50%;
		transform: translateX(-50%) rotate(45deg);
		border: 1px solid #D7D7D7;
		width: 30rem;
		height: 30rem;
		z-index: -1;
	}
}

.footer{
	margin-top: auto;
	background: #1B1B1B;
	text-align: center;
	position: relative;
	overflow: hidden;
	&__diamond{
		width: 35.33333333333333rem;
		height: 35.33333333333333rem;
	    position: absolute;
		z-index: 1;
    	top: -18.333333rem;
    	left: 10.66666666666667rem;
    	pointer-events: none;
	}
	&__wrap{
		padding: 6.266666666666667rem 0;
		position: relative;
		z-index: 10;
	}
	&__top{
		margin-bottom: 1.333333333333333rem;
	}
	&__text{
		color: #FFFFFF;
		letter-spacing: 0.01em;
		font-weight: 300;
		font-size: 1rem;
	}
	&__content{
		display: inline-block;
		margin-top: 3.266666666666667rem;
		position: relative;
	}
	&__logo{
		position: absolute;
	    top: -1.866666666666667rem;
    	right: -20.333333rem;
    	width: 6.8rem;
	}
}

.sec-article{
	&__container{
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
	}
	&__wrap{
		padding: 10px 0;
	}
	&__title{
		max-width: 800px;
		margin-bottom: 46px;
	}
}

.sec-configuration{
	padding: 20px 0;
	padding-bottom: 0;
	margin-bottom: 60px;
	&_margin{
		margin-bottom: 42px;
	}
	&__top{
		margin-bottom: 50px;
	}
	&__wrap{
		background: #F4F4F4;
	}
	&__content{
		padding: 64px 0;
		padding-bottom: 50px;
	}
	&__title{
		margin-bottom: 35px;
	}
}

.sec-conclusions{
	&__wrap{
		padding: 38px 0;
		padding-bottom: 74px;
	}
	&__title{
		margin-bottom: 48px;
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 96px;
		&-text{
			font-family: 'Gotham';
			font-size: 22px;
			letter-spacing: 0.01em;
			color: #000000;
		}
	}
}