html{
	// font-size: .78vw;
	font-size: 15px;
	overflow-x: hidden;
}

body{
	font-family: 'Gotham';
	color: #000000;
	line-height: 1.25;
	background: #FFFFFF;
}

a{
	font-family: 'Gotham';
}

.container{
	position: relative;
	max-width: 98rem;
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}


.header{
	height: 15.6rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	overflow: hidden;
	&__wrap{
		padding: 4.466666666666667rem 0;
	}
	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo{
		max-width: 16.93333333333333rem;
	}
}

.topPaddingHeader{
	padding-top: 15.6rem;
}

.sec-first{
	position: relative;
	&__container{
		position: relative;
	}
	&__dec{
		position: absolute;
		pointer-events: none;
		z-index: 5;
	}
	&__notebook{
	    top: 7.5rem;
    	left: -5.5rem;
    	max-width: 55.66666666666667rem;
	}
	&__core{
	    top: 18.6rem;
    	left: 49rem;
    	max-width: 4.333333333333333rem;
	}
	&__notebook2{
	    top: -23rem;
    	right: -1.01rem;
    	max-width: 54.93333333333333rem;
	}
	&__diamond{
		width: 66.66666666666667rem;
		height: 66.66666666666667rem;
		z-index: 1;
	    top: -75.5rem;
    	left: -1.3rem;
	}
	&__rhombus{
		z-index: 2;
	    left: -1.4rem;
    	top: -2rem;
    	max-width: 45.06666666666667rem;
	}
	&__rhombus2{
	    right: 39rem;
    	top: -15.5rem;
		z-index: 2;
		max-width: 53.4rem;
	}
	&__rhombus3{
		z-index: 1;
	    right: -2.7rem;
    	top: 13rem;
    	max-width: 25.8rem;
	}
	&__wrap{
		position: relative;
		z-index: 10;
		padding: 25.93333333333333rem 0;
		padding-bottom: 5rem;
	}
	&__content{
		margin-left: auto;
		max-width: 48rem;
	}
	&__title{
		margin-bottom: 1.133333333333333rem;
	}
	&__text{
		max-width: 32.66666666666667rem;
		margin-bottom: 3.133333333333333rem;
	}
}

.sec-design{
	&__video{
		position: absolute;
		z-index: 1;
		top: -2.733333333333333rem;
		left: -14.06666666666667rem;
		width: 78.06666666666667rem;
		pointer-events: none;
	}
	&__dec{
		position: absolute;
		pointer-events: none;
		z-index: 5;
	}
	&__rhombus{
		z-index: 1;
	    top: -5.5rem;
    	right: -25.6rem;
    	max-width: 44.4rem;
	}
	&__wrap{
		padding: 3.933333333333333rem 0;
		padding-bottom: 7rem;
	}
	&__content{
		display: flex;
		align-items: flex-start;
		padding: 0 4rem;
		position: relative;
		z-index: 10;
		max-width: 52rem;
		margin-left: auto;
	}
	&__image{
		flex: none;
		margin-top: 1.8rem;
		margin-right: 4.2rem;
	}
	&__title{
		margin-bottom: 2.2rem;
	}
	&__body{
		max-width: 35.53333333333333rem;
		width: 100%;
	}
	&__text{
		margin-bottom: 2.666666666666667rem;
	}
}